DATABASE_URL=postgresql://branch_assignment_db_user:qf8eSxJsGTsIudSb8mCOfgPg72loCMvg@dpg-d51g4abe5dus738af030-a.oregon-postgres.render.com/branch_assignment_db
OPENAI_API_KEY=YOUR OPEN AI API KEY HERE
GEMINI_API_KEY=your_key_here